<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss}  %-5p  (%t)  [%c{1}]  %m%n"/>-->
            <PatternLayout pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss}  %-5p  (%t)  .(%c{1}.java:%L)  %m%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=grey, TRACE=black}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>