input {
  kafka {
      topic_id => "atom-raw-data"
      type => "atom"
      codec => "plain"
  }
}

filter {
  if [message] =~ /^Agent/ {
      csv {
          separator => ";"
          columns => ["Trace", "AgentName", "Cash", "ObName", "Executed", "Price", "Ts"]
      }

      date {
          match => ["Ts", "YYYY-MM-dd;HH:mm:ss.SSS", "UNIX_MS"]
          target => "@timestamp"
      }
  } elseif [message] =~ /^Order/ {
      csv {
          separator => ";"
          columns => ["Trace", "ObName", "Sender", "ExtId", "Type", "Id", "Quantity", "Price", "Validity", "Ts"]
      }

      date {
          match => ["Ts", "YYYY-MM-dd;HH:mm:ss.SSS", "UNIX_MS"]
          target => "@timestamp"
      }
  } elseif [message] =~ /^Exec/ {
      csv {
          separator => ";"
          columns => ["Trace", "Sender", "Ts"]
      }

      date {
          match => ["Ts", "YYYY-MM-dd;HH:mm:ss.SSS", "UNIX_MS"]
          target => "@timestamp"
      }
  }
  else {
      drop {}
  }
}

output {
  stdout { 
      codec => rubydebug 
  }

  elasticsearch {
      hosts => ["localhost:9200"]
      index => "keep-agent-order-exec"
  }
}
